@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: Quicksand;
  background-size: 100%;
  background: rgb(246, 215, 185)
}

.App {
  text-align: center;
}


/* for no padding between bootstrap cols */
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.orange-gradient {
  background: rgb(248, 104, 47);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.expand-button {
  transition: all 0.3s ease;
  background: rgb(199, 152, 108);
  border: none;
  margin: 0vh 4vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
