@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Handle */
.scroll ::-webkit-scrollbar {
  background: white; 
  border-radius: 35px;
}

.scroll ::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 5px;
}

body {
  font-family: Quicksand;
  background-size: 100%;
  background: rgb(246, 215, 185)
}

.App {
  text-align: center;
}

.nav-link {
  transition: ease all 0.3s;
  float: right !important;
}

a:hover {
  text-decoration: none;
}
.nav-link:hover {
  -webkit-transform: scale(1.1) translateY(4px);
  -ms-transform: scale(1.1) translateY(4px);
  transform: scale(1.1) translateY(4px);
  background-color: rgba(133, 26, 221, 0.1);
  /* color: rgb(159, 26, 248); */
}

input {
  text-align: center;
}
input:active, input:focus {
  outline: none;
}

/* for no padding between bootstrap cols */
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.orange-gradient {
  background: radial-gradient(#f86f45, #5c68f1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.expand-button {
  transition: all 0.3s ease;
  background: rgb(199, 152, 108);
  border: none;
  margin: 0vh 4vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
