@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Handle */
.scroll ::-webkit-scrollbar {
  background: white; 
  border-radius: 35px;
}

.scroll ::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 5px;
}

body {
  font-family: Quicksand;
  background-size: 100%;
  background-image: linear-gradient(to right, rgb(255, 228, 198) , rgb(255, 240, 223));
}

.App {
  text-align: center;
}


a:hover {
  text-decoration: none;
}
.nav-link {
  transition: all 0.3s ease;
  float: right !important;
}
.nav-link:hover {
  -webkit-transform: scale(1.05) translateY(2px);
  -ms-transform: scale(1.05) translateY(2px);
  transform: scale(1.05) translateY(2px);
  background-color: rgba(133, 26, 221, 0.1);
  /* color: rgb(159, 26, 248); */
}


input {
  transition: all 0.3s ease;  
  text-align: center;
}


input:active, input:focus {
  outline: none;
}
input:hover {
  background: light grey;
}

/* for no padding between bootstrap cols */
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

/* the fox icon */
.orange-gradient {
  transition: all 0.8s linear;
  background: radial-gradient(#f86f45, #5c68f1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
